:root {
  --white: #ffffff;

  --accent-600: #4863f7;
  --accent-500: #7878d7;

  --alert-600: #ff5c5c;
  --alert-800: rgba(255, 92, 92, 0.08);

  --gray-900: #0d0d0d;
  --gray-800: #111111;
  --gray-700: #1a1a1a;
  --gray-200: #424242;
  --gray-100: #737373;

  --overlay-bg: rgba(0, 0, 0, 0.6);

  --notification-success-bg: #d4edda;
  --notification-success-border: #28a745;
  --notification-error-bg: #f8d7da;
  --notification-error-border: #dc3545;
  --notification-warning-bg: #fff3cd;
  --notification-warning-border: #ffc107;
  --notification-info-bg: #d1ecf1;
  --notification-info-border: #17a2b8;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 0.5rem;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: var(--gray-100);
}

html {
  font-size: 16px;
}

body,
input,
button {
  font-family: "Inter", sans-serif;
}

body {
  background-color: var(--gray-900);
  color: var(--white);
}

.app {
  display: flex;
  height: 100vh;
  width: 100vw;
}

.main {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 3.875rem 7.75rem;
  gap: 2rem;

  overflow-y: scroll;
}

.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  width: 100%;
}

.mode-indicator {
  font-size: 1rem;
}

.btn-wrapper {
  display: flex;
  gap: 1rem;
}

.btn {
  gap: 0.625rem;
  height: 2.75rem;
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 0.875rem;
  border-radius: 6px;
  cursor: pointer;
}

.btn-outline {
  background: transparent;
  border: 0.5px solid var(--gray-200);
  color: var(--white);
  padding: 0 1rem;

  transition: background-color 0.5s;
}

.btn-outline:hover {
  background-color: var(--gray-200);
}

.icon {
  width: 1.25rem;
  height: 1.25rem;
}

.btn-primary {
  background: var(--accent-600);
  border: 1px solid var(--accent-500);
  min-width: 0;
  color: var(--white);
  padding: 0 1.5rem;
  transition: opacity 0.5s;
}

.btn-primary:hover {
  opacity: 0.8;
}

.w-150 {
  width: 9.375rem;
  justify-content: center;
}

.note-title {
  font-weight: 600;
  font-size: 2rem;
  outline: none;
}

.note-content {
  font-size: 1rem;
  color: var(--white);
  outline: none;
  line-height: 2rem;
}

.editable-wrapper {
  position: relative;
}

.editable-wrapper::before {
  content: attr(data-placeholder);
  position: absolute;
  color: var(--gray-200);
  pointer-events: none;
  opacity: 0;
}

.editable-wrapper.is-empty::before {
  opacity: 1;
}

#title-wrapper.is-empty {
  font-size: 2rem;
  font-weight: 600;
  color: var(--gray-200);
}

#content-wrapper.is-empty {
  font-size: 1rem;
  color: var(--gray-200);
  line-height: 2rem;
}

.icon-button {
  padding: 0;
  border: none;
  background: transparent;
  cursor: pointer;
}

.open-toggle {
  position: fixed;
  top: 2rem;
  left: 1.5rem;
  z-index: 0;
  background: var(--gray-800);
  border-radius: 50%;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.12);
}

.sidebar {
  z-index: 1;
  width: 25rem;
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 3.125rem;
  padding: 2rem;
  background-color: var(--gray-800);
  border-right: 0.5px solid var(--gray-700);
  min-width: 0;
  transition: all 200ms ease-in-out;
}

.sidebar.collapsed {
  position: absolute;
  transform: translateX(-100%);
}

.sidebar-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sidebar-content {
  display: flex;
  flex-direction: column;
}

.search-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
  padding-bottom: 1.25rem;
  border-bottom: 1px solid var(--gray-700);
  gap: 1.25rem;
}

.search-icon {
  position: absolute;
  left: 1rem;
  top: 1.375rem;
  transform: translateY(-50%);
}

.search-input {
  background: transparent;
  height: 2.75rem;
  width: 100%;
  border: 1px solid var(--gray-200);
  outline: none;
  color: var(--white);
  font-size: 1rem;
  border-radius: 6px;
  padding-left: 3rem;
}

.search-input::placeholder {
  color: var(--gray-200);
}

.btn-full {
  width: 100%;
  justify-content: center;
}

.logo {
  height: 1.5rem;
}

.note-item {
  display: flex;
  align-items: center;
  justify-content: space-between;

  gap: 0.75rem;
  cursor: pointer;
  margin-top: 1.25rem;
}

.note-item-content {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  min-width: 0;
  flex: 1;
}

.note-item-title {
  font-size: 0.875rem;
  font-weight: 500;
  color: var(--white);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.note-item-description {
  font-size: 0.75rem;
  color: var(--gray-100);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.btn-icon {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  transition: background 0.2s;
  height: 2rem;
  width: 2rem;
}

.btn-icon:hover {
  background: var(--alert-800);
}

.icon-trash {
  width: 1.25rem;
  height: 1.25rem;
}

.loading-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: var(--overlay-bg);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
  transition: all 600ms ease-in-out;
}

.loading-wrapper.is-loading {
  visibility: visible;
  opacity: 1;
  backdrop-filter: blur(3px);
}

.loading-wrapper:not(.is-loading) {
  visibility: hidden;
  opacity: 0;
  backdrop-filter: blur(0);
}

.loading-wrapper img {
  width: 3rem;
  height: 3rem;
}

.notification-wrapper {
  position: fixed;
  top: 1.5rem;
  right: 1.5rem;
  z-index: 3;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  max-width: 20rem;
  width: 100%;
}

.notification {
  background-color: #ffffff;
  border: 1px solid #dee2e6;
  border-radius: 8px;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  opacity: 0;
  transform: translateX(100%);
  transition: all 400ms ease-in-out;
}

.notification.show-notification {
  opacity: 1;
  transform: translateX(0);
}

.notification.hide-notification {
  opacity: 0;
  transform: translateX(100%);
}

.notification-content {
  display: flex;
  align-items: center;
  padding: 1rem;
  gap: 1rem;
}

.notification-icon {
  font-size: 1.125rem;
  flex-shrink: 0;
}

.notification-message {
  flex: 1;
  font-size: 0.875rem;
  font-weight: 700;
  color: #212529;
}

.notification-success {
  border-color: var(--notification-success-border);
  background-color: var(--notification-success-bg);
}

.notification-error {
  border-color: var(--notification-error-border);
  background-color: var(--notification-error-bg);
}

.notification-warning {
  border-color: var(--notification-warning-border);
  background-color: var(--notification-warning-bg);
}

.notification-info {
  border-color: var(--notification-info-border);
  background-color: var(--notification-info-bg);
}

@media (max-width: 950px) {
  .open-toggle {
    display: block;
    top: 2.375rem;
  }

  .sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 80%;
    max-width: 22.5rem;
    transform: translateX(-100%);
  }

  .sidebar.open {
    transform: translateX(0);
  }

  .main {
    padding: 1.5rem 2rem;
    margin-left: 0;
    overflow-y: auto;
  }

  .main-header {
    justify-content: flex-end;
  }
}
